<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rest Template Demo</title>
</head>
<body>
 <h1>
     New
 </h1>

    <form action="#" th:action="@{/posts}" th:object="${post}" method="post">
        <p>title : <input type="text" th:field="*{title}"/></p>
        <p>content: </p>
        <p><textarea th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>